@use '../abstracts/mixin' as mixin;

/* ====================
	Layout
==================== */
.texture {
  background:
    radial-gradient(circle at top center,
      rgba(255, 255, 255, 0.04),
      transparent 60%),
    url("../images/texture.gif"),
    #181819;
}

// common layout styles
.l-header {
  position: sticky;
  top: 16px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: min(1200px, calc(100% - 32px));
  height: auto;
  margin-inline: auto;
  padding: 1em 0;
  background:
    linear-gradient(180deg,
      rgba(255, 255, 255, .04),
      rgba(255, 255, 255, .02));
  border: 1px solid rgba(255, 255, 255, .08);
  backdrop-filter: blur(1px);

  @include mixin.respond-to(sp) {
    height: 50px;
    padding: .5em 0;
    align-items: center;
  }
}

.l-main {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 35px;

  @include mixin.respond-to(sp) {
    padding: 80px 1em;
  }
}

.l-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1em 0;
}

.l-innercontainer {
  max-width: 100%;
  padding: 0 1em;
}