@use '../abstracts/mixin' as mixin;

/* ====================
	Layout
==================== */
.texture {
  background:
    radial-gradient(circle at top center,
      rgba(255, 255, 255, 0.02),
      transparent 60%),
    url("../images/texture.png"),
    #181819;
  background-repeat: no-repeat;
}

// common layout styles
.l-header {
  position: sticky;
  top: 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  width: min(1200px, calc(100% - 32px));
  height: auto;
  margin-inline: auto;
  padding: 1em 1.5em;
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: 12px;
  background:
    linear-gradient(180deg,
      rgba(255, 255, 255, .04),
      rgba(255, 255, 255, .02));
  backdrop-filter: blur(1px);

  @include mixin.respond-to(sp) {
    height: 50px;
    padding: .5em 0;
    align-items: center;
  }
}

.l-main {
  width: min(1200px, calc(100% - 32px));
  margin-top: 3em;
  margin-inline: auto;
  background: none;

  @include mixin.respond-to(sp) {
    // padding: 80px 1em;
  }
}

.l-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1em 0;
}

.l-innercontainer {
  max-width: 100%;
  padding: 0 1em;
}