/* ====================
	Variables
==================== */

// media
$mobile: 640px;
$tablet: 1024px;

// Colors
$music-green: #00756a;
$movie-purple: #572c82;
$active-color: #f05d31;
$checkbox-color: #12ff83;

$white-color: #F1F8E9;
$navbar-color: #24272F;