.l-header{
background-color: #24272F;
}

.linkWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
}

.l-linkCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: #212122;
    color: #E7EEF0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.l-linkCard:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.l-linkCard:visited{
    color: #E7EEF0;
}

.linkCard{
    width: 100%;
    padding: 1em;
}